<!DOCTYPE html>
<html lang="en" data-theme="{{ .Common.Theme }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Common.HeadTitle }}</title>
  <link rel="stylesheet" href="{{ .Common.SiteRoot }}/{{ .Common.StylePath }}">
</head>
<script>
  onkeydown = (e) => {
      {{if .PrevPage}}
    if (e.key === 'ArrowLeft') {
      window.location.href = '{{ .Common.SiteRoot }}/{{.PrevPage.Link}}';
    }
      {{end}}
      {{if .NextPage}}
    if (e.key === 'ArrowRight') {
      window.location.href = '{{ .Common.SiteRoot }}/{{.NextPage.Link}}';
    }
      {{end}}
  };

  const toggleComment = (button, mustClose) => {
    const needClose = button.classList.contains('js-close-comment') || mustClose;
    const text = button.nextElementSibling;
    const commentCol = button.parentElement;
    const codeCol = commentCol.nextElementSibling;

    if (needClose) {
      text.classList.add('comment-col-hidden');
      commentCol.classList.add('with-hidden-text');
    } else {
      text.classList.remove('comment-col-hidden');
      commentCol.classList.remove('with-hidden-text');
    }

    const row = codeCol.parentElement;

    if (!row.classList.contains('first')) {
      codeCol.style.paddingTop = '0';
    }

    if (!row.classList.contains('last')) {
      codeCol.style.paddingBottom = '0';
    }

    button.classList.toggle('js-close-comment');
    button.classList.toggle('closed');
  };

  onload = () => {
    const buttons = [...document.getElementsByClassName('js-toggle-comment')];
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        toggleComment(button);
      });
    });

    const toggleComments = [...document.getElementsByClassName('js-toggle-all-comments')];
    toggleComments.forEach((toggleButton) => {
      const buttons = [...document.getElementsByClassName('js-toggle-comment')];

      toggleButton.addEventListener('click', () => {
        buttons.forEach((button) => {
          toggleComment(button, false);
        });
      });
    });

    let arrows = [...document.getElementsByClassName('js-toggle-comment-button')];
    arrows.forEach((arrow) => {
      arrow.addEventListener('click', () => {
        arrow.classList.toggle('closed');
      });
    });

    const temporarilyChangeText = (el, newText, oldText, timeout = 1000) => {
      el.textContent = newText;
      setTimeout(() => {
        el.textContent = oldText;
      }, timeout);
    };

    const copyButtons = [...document.getElementsByClassName('js-copy-code')];
    copyButtons.forEach((button) => {
      let code = button.getAttribute('data-code');
      button.addEventListener('click', () => {
        navigator.clipboard.writeText(code).then(function() {
          temporarilyChangeText(button, 'copied', 'copy');
        }, function(err) {
          temporarilyChangeText(button, 'copy error', 'copy');
        });
      });
    });
  };

</script>
<body class="example-page">

<header>
  <a class="title" href="{{ .Common.SiteRoot }}/index.html">{{ .Common.HeaderTitle }}</a>
    {{/*    <label for="turn-theme"></label><input id="turn-theme" type="checkbox">*/}}
  <a class="github-link monospace" href="{{ .Common.GithubLink }}" target="_blank">{{ .Common.HeaderTitle }} on
    GitHub</a>
</header>

<main>
  <div class="article-header">
    <div class="tags">
        {{$root := .}}
        {{range .Tags }}
          <a class="tag monospace" href="{{ $root.Common.SiteRoot }}/tags/{{ . }}/index.html">#{{ . }}</a>
        {{end}}
    </div>
    <h1 class="example-title">{{ .Title }}</h1>
    <div class="generate-date monospace">
      <span>Generated {{ .GeneratedTime }}</span>
    </div>
  </div>


    {{ template "page-part" . }}

</main>

<footer>
  <div class="inner-footer">
    <div class="related-posts">
      <div class="related-posts-title monospace">Related</div>

        {{template "page_preview" .PrevPage }}
      <div></div>
        {{template "page_preview" .NextPage }}
    </div>

    <div class="footer-text">
      <div class="copyright monospace">
        Generated by <a href="https://github.com/i582/bye">bye</a> © 2021 Petr Makhnev
      </div>
    </div>
  </div>
</footer>

</body>

</html>
