@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* Themes */
html[data-theme="dark"] {
  --background-color: #353335;
  --footer-color: #2C2A2B;
  --text-color: #efdab9;
  --line-comment-color: #8e8373;
  --line-comment-background-color: var(--background-color);
  --title-color: #efdab9;
  --title-hover-color: #FFD152;
  --tag-title-color: #FFD152;
  --date-color: #8e8373;
  --footer-text: #8e8373;
  --filename: #8e8373;
  --copy-code: #8e8373;
  --underline: #8e8373;
  --arrow-color: #efdab9;
  --code-background-color: #2C2A2B;
  --link-color: #FFD152;
  --tag-color: #FFD152;
  --code-background: rgba(92, 107, 122, 0.2);

  --scroll-bar-width: 12px;
  --scroll-bar-height: 7px;
  --scroll-bar-color: #353335;
  --scroll-bar-thumb-color: #2C2A2B;
  --scroll-bar-track-color: #353335;
  --scroll-bar-horizontal-track-color: var(--code-background-color);

  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-title: 'Spectral', Times New Roman, serif;
  --font-code: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

/* Theme code highlights */
html[data-theme="dark"] {
  --keyword-color: #D55FDE;
  --keyword-type-color: #D55FDE;
  --names-color: #57c7ff;
  --name-tag-color: #EF596F;
  --name-class-color: #E4BF70;
  --name-constant-color: #D19A66;
  --name-builtin-color: #57c7ff;
  --name-attr-color: #e2a66e;
  --names2-color: #efdab9;
  --variable-color: #B4B6B6;
  --name-variable-color: #B4B6B6;
  --literal-color: #89CA78;
  --literal-string-color: #89CA78;
  --literal-string-other-color: #89CA78;
  --literal-string-escape-color: #29B9C4;
  --literal-string-doc-color: #89CA78;
  --literal-number-color: #e2a66e;
  --operator-color: #efdab9;
  --comment-color: #78787e;
  --generic-color: #57c7ff;
}

html[data-theme="light"] {
  --background-color: #fff;
  --footer-color: #FAFBFC;
  --text-color: #000;
  --line-comment-color: #959da5;
  --line-comment-background-color: var(--background-color);
  --title-color: #000;
  --title-hover-color: #0366d6;
  --tag-title-color: #0366d6;
  --date-color: #959da5;
  --footer-text: #959da5;
  --filename: #959da5;
  --copy-code: #959da5;
  --underline: #959da5;
  --arrow-color: #000;
  --code-background-color: #F6F8FA;
  --link-color: #0366d6;
  --tag-color: #0366d6;
  --code-background: rgba(27, 31, 35, .05);

  --scroll-bar-width: 12px;
  --scroll-bar-height: 7px;
  --scroll-bar-color: #fff;
  --scroll-bar-thumb-color: #e0e2e7;
  --scroll-bar-track-color: #fff;
  --scroll-bar-horizontal-track-color: var(--code-background-color);

  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-title: 'Spectral', Times New Roman, serif;
  --font-code: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

html[data-theme="light"] {
  --keyword-color: #d73a49;
  --keyword-type-color: #445588;
  --names-color: #57c7ff;
  --name-tag-color: #000080;
  --name-class-color: #e36209;
  --name-constant-color: #005cc5;
  --name-builtin-color: #0086b3;
  --name-attr-color: #008080;
  --names2-color: #6f42c1;
  --variable-color: #57c7ff;
  --name-variable-color: #24292e;
  --literal-color: #dd1144;
  --literal-string-color: #dd1144;
  --literal-string-other-color: #032f62;
  --literal-string-escape-color: #032f62;
  --literal-string-doc-color: #6a737d;
  --literal-number-color: #005cc5;
  --operator-color: #005cc5;
  --comment-color: #999988;
  --generic-color: #57c7ff;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar:horizontal {
  height: var(--scroll-bar-height);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scroll-bar-thumb-color);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--scroll-bar-thumb-color);
  border-radius: 3px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: var(--scroll-bar-horizontal-track-color);
}

::-webkit-scrollbar-track:vertical {
  background-color: var(--scroll-bar-track-color);
  border-radius: 3px;
}

/* Header */
header {
  height: 62px;
  padding-left: 20px;
  padding-right: 20px;

  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}

.title {
  font-size: 20px;
  line-height: 1;
  margin-top: -2px;
  text-decoration: none;

  color: var(--title-color);
}

.github-link {
  font-size: 12px;
  color: var(--link-color);
  text-decoration: none;
}

/* General */

* {
  box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);

  font-family: var(--font-title);
  font-size: 18px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.monospace {
  font-family: var(--font-code);
}


/* Index page */
body.index-page main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 65px - 45px);
  width: calc(100vw - 40px - 80px - 50px);
  max-width: 500px !important;

  padding: 0 0 40px;
  margin: 0 auto;
}

.index-header {
  margin-top: 0;

  font-family: var(--font-title);
  font-size: 40px;
  font-weight: 200;
}

/* Example page */
body.example-page main {
  width: calc(100vw - 40px);
  max-width: 1100px;

  padding: 0 20px 40px;
  margin: 0 auto;
}

.example-title {
  width: 50%;

  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 40px;
  font-weight: 200;
  line-height: 1.2;
}

.article-header {
  margin-bottom: 20px;
  margin-top: 50px;
}

.generate-date {
  font-size: 14px;
  line-height: 1.5;

  color: var(--date-color);
}


/* Rows */
.text-row {
  width: 100%;
}

.text-row .text-content {
  width: 55%;
}

.file-row {
  width: 100%;
  padding: 70px 0 70px;
}

.row.first .code-col {
  padding-top: 8px;
  border-radius: 6px 6px 0 0;
}

.row.first .comment-col {
  margin-top: 8px;
}

.row.last .code-col {
  padding-bottom: 8px;
  border-radius: 0 0 6px 6px
}

.row.first.last .code-col {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
}


/* Code */
.code-col {
  display: grid;

  background-color: var(--code-background-color);
  padding: 0 16px 0 16px;
  font-size: 18px;
  transition: 0.0s;

  filter: saturate(90%);
}

.code-col-empty-comment {
  padding: 2px 16px 0 16px;
}

.code-body .row {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 16px;
}

.code-body .code-header {
  position: absolute;
  top: -25px;
  width: 100%;

  font-size: 14px;
  line-height: 1.5;

  display: grid;
  grid-template-columns: auto max-content max-content;
  grid-column-gap: 10px;
}

.code-body .code-header .file-name {
  color: var(--filename);
}

.code-body .code-header .toggle-comment {
  color: var(--filename);
  opacity: 0.5;
  transition: 0.2s;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.code-body .code-header .toggle-comment:hover {
  cursor: pointer;
  opacity: 1;
}

.code-body .code-header .copy-code {
  color: var(--copy-code);
  opacity: 0.5;
  transition: 0.2s;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.code-body .code-header .copy-code:hover {
  cursor: pointer;
  opacity: 1;
}

/* Comment */
.comment-col {
  display: grid;

  border-radius: 0 0 6px 6px;
  transition: 0.2s;

  font-size: 18px;
}

.comment-col.with-hidden-text {
  background: linear-gradient(to bottom,
  var(--line-comment-background-color) calc(13px - 1px),
  var(--line-comment-color) calc(13px - 1px) calc(13px + 0px),
  var(--line-comment-background-color) calc(13px + 0px)
  );

}

.comment-col-hidden {
  visibility: hidden;
  height: 0;
}

.toggle-comment-button {
  width: 15px;
  height: 15px;
  margin-left: -25px;
  margin-top: 5px;
  position: absolute;
}

.toggle-comment-button-arrow {
  transform: rotate(-90deg);
  fill: var(--arrow-color);
  transition: 0.2s;
  opacity: 0.2;
}

.toggle-comment-button-arrow.closed {
  transform: rotate(-180deg);
}

.toggle-comment-button-arrow:hover {
  opacity: 1;
}

/* Tags */
.tags {
  display: grid;

  grid-template-columns: repeat(5, max-content);
  grid-template-rows: repeat(1, max-content);
  grid-column-gap: 5px;
}

.tags .tag {
  display: block;
  width: 100%;
  color: var(--tag-color);
  text-decoration: none;
}

.tags .tag:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  display: grid;

  padding-bottom: 15px;

  background-color: var(--footer-color);

  margin-top: 20px;
}

.inner-footer {
  width: calc(100vw - 40px);
  max-width: 1100px;

  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.inner-footer .footer-text {
  display: grid;
  grid-template-columns: auto max-content;
}

.inner-footer .footer-text .copyright {
  font-size: 13px;
  color: var(--footer-text);
  padding: 15px 0 0 0;
}

.inner-footer .footer-text .copyright a {
  color: var(--link-color);
  text-decoration: underline;
}

.inner-footer .footer-text .change-theme {
  font-size: 13px;
  color: var(--footer-text);
  padding: 15px 0 0 0;
  transition: 0.5s;
}

.inner-footer .footer-text .change-theme:hover {
  cursor: pointer;
  color: var(--text-color);
}

.related-posts {
  margin-top: 30px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 30px 0;
}

.related-posts .related-posts-title {
  font-size: 20px;
  color: var(--title-color);

  display: inline-block;
  width: max-content;
  padding-bottom: 20px;

  margin-bottom: 50px;

  background-image: linear-gradient(90deg, var(--underline) 50%, hsla(0, 0%, 100%, 0) 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;

  grid-column-start: 1;
  grid-column-end: 4;
}

/* Footer example page preview */
.post-preview {
  padding-bottom: 45px;
}

.post-preview .post-preview-title {
  font-size: 20px;
  margin-top: 20px;

  color: var(--title-color);
  text-decoration: none;

  display: block;
  margin-bottom: 10px;
}

.post-preview .post-preview-title:hover {
  color: var(--title-hover-color);
  text-decoration: underline;
}


/* Tag page */
body.tag-page main {
  width: calc(100vw - 40px);
  max-width: 1100px;
  min-height: calc(100vh - 62px - 30px - 45px);

  padding: 0 20px;
  margin: 0 auto;
}

.tag-header {
  width: max-content;
  font-size: 45px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--tag-title-color);

  background-image: linear-gradient(90deg, var(--line-comment-color) 50%, hsla(0, 0%, 100%, 0) 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;

  font-weight: 200;
}

.tag-page-preview {
  width: 50%;
  padding-bottom: 25px;
  padding-top: 20px;

  border-bottom: solid 1px var(--line-comment-color);
}

.tag-page-preview .tag-page-preview-title {
  font-size: 20px;
  margin-top: 20px;

  width: max-content;

  color: var(--title-color);
  text-decoration: none;

  display: block;
  margin-bottom: 10px;
}

.tag-page-preview .tag-page-preview-title:hover {
  color: var(--title-hover-color);
  text-decoration: underline;
}

/* Media */
@media screen and (max-width: 450px) {
  .related-posts {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0 auto;

    grid-row-gap: 10px;
  }

  .related-posts .related-posts-title {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-bottom: 20px;
  }

  .tag-page-preview {
    width: 100% !important;
  }

  footer {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .main-body .row {
    grid-template-columns: auto;
  }

  .example-title {
    width: 100%;
  }

  .main-body .file-name {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .code-col {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  .related-posts {
    grid-template-columns: 4fr 1fr 4fr;
  }
}


/* Github styles */
.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-family: 'Spectral', serif;
  font-size: 18px;
  word-wrap: break-word;
}

.markdown-body details {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2em;
  margin: .67em 0;
}

.markdown-body img {
  border-style: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body a {
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--line-comment-color);
}

.markdown-body hr:after,
.markdown-body hr:before {
  display: table;
  content: "";
}

.markdown-body hr:after {
  clear: both;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: var(--line-comment-background-color);
  border: 1px solid var(--line-comment-color);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--line-comment-color);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body h1 {
  font-size: 32px;
}

.markdown-body h1,
.markdown-body h2 {
  font-weight: 600;
}

.markdown-body h2 {
  font-size: 24px;
}

.markdown-body h3 {
  font-size: 20px;
}

.markdown-body h3,
.markdown-body h4 {
  font-weight: 600;
}

.markdown-body h4 {
  font-size: 16px;
}

.markdown-body h5 {
  font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 12px;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
  font-family: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body .border {
  border: 1px solid #e1e4e8 !important;
}

.markdown-body .border-0 {
  border: 0 !important;
}

.markdown-body .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.markdown-body .rounded-1 {
  border-radius: 3px !important;
}

.markdown-body .bg-white {
  background-color: var(--text-color) !important;
}

.markdown-body .bg-gray-light {
  background-color: var(--line-comment-background-color) !important;
}

.markdown-body .text-gray-light {
  color: #6a737d !important;
}

.markdown-body .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-body .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown-body .pl-3,
.markdown-body .px-3 {
  padding-left: 16px !important;
}

.markdown-body .px-3 {
  padding-right: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body .f6 {
  font-size: 12px !important;
}

.markdown-body .lh-condensed {
  line-height: 1.25 !important;
}

.markdown-body .text-bold {
  font-weight: 600 !important;
}

.markdown-body .pl-c {
  color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #005cc5;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #6f42c1;
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
  color: #24292e;
}

.markdown-body .pl-ent {
  color: #22863a;
}

.markdown-body .pl-k {
  color: #d73a49;
}

.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
  color: #032f62;
}

.markdown-body .pl-smw,
.markdown-body .pl-v {
  color: #e36209;
}

.markdown-body .pl-bu {
  color: #b31d28;
}

.markdown-body .pl-ii {
  color: var(--line-comment-background-color);
  background-color: #b31d28;
}

.markdown-body .pl-c2 {
  color: var(--line-comment-background-color);
  background-color: #d73a49;
}

.markdown-body .pl-c2:before {
  content: "^M";
}

.markdown-body .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

.markdown-body .pl-ml {
  color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #24292e;
}

.markdown-body .pl-mb {
  font-weight: 700;
  color: #24292e;
}

.markdown-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdown-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdown-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown-body .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

.markdown-body .pl-ba {
  color: #586069;
}

.markdown-body .pl-sg {
  color: #959da5;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.markdown-body .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-body .my-2 {
  margin-bottom: 8px !important;
}

.markdown-body .my-2 {
  margin-top: 8px !important;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown-body .pl-3 {
  padding-left: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body .pl-7 {
  padding-left: 48px !important;
}

.markdown-body .pl-8 {
  padding-left: 64px !important;
}

.markdown-body .pl-9 {
  padding-left: 80px !important;
}

.markdown-body .pl-10 {
  padding-left: 96px !important;
}

.markdown-body .pl-11 {
  padding-left: 112px !important;
}

.markdown-body .pl-12 {
  padding-left: 128px !important;
}

.markdown-body hr {
  border-bottom-color: #eee;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: var(--line-comment-background-color);
  border: 1px solid var(--line-comment-color);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--line-comment-color);
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--line-comment-color);
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: var(--text-color);
  border-left: .25em solid var(--line-comment-color);
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid var(--line-comment-color);
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: .875em;
}

.markdown-body h6 {
  font-size: .85em;
  color: var(--text-color);
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: .25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: initial;
  background-color: var(--text-color);
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--code-background);
  border-radius: 3px;
  white-space: nowrap;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.markdown-body .commit-tease-sha {
  display: inline-block;
  font-family: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 90%;
  color: #444d56;
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown-body .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown-body .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, .3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body .blob-num:hover {
  color: rgba(27, 31, 35, .6);
}

.markdown-body .blob-num:before {
  content: attr(data-line-number);
}

.markdown-body .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.markdown-body .blob-code-inner {
  overflow: visible;
  font-family: 'Ubuntu Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.markdown-body .pl-token.active,
.markdown-body .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.markdown-body .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.markdown-body .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.markdown-body .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.markdown-body .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.markdown-body .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.markdown-body .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.markdown-body .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.markdown-body .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.markdown-body .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.markdown-body .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.markdown-body .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.markdown-body .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

/* Highlights styles */
/* Background */
.chroma { color: var(--text-color); background-color: var(--code-background-color) }

/* Keyword */
.chroma .k { color: var(--keyword-color) }

/* KeywordConstant */
.chroma .kc { color: var(--keyword-color) }

/* KeywordDeclaration */
.chroma .kd { color: var(--keyword-color) }

/* KeywordNamespace */
.chroma .kn { color: var(--keyword-color) }

/* KeywordPseudo */
.chroma .kp { color: var(--keyword-color) }

/* KeywordReserved */
.chroma .kr { color: var(--keyword-color) }

/* KeywordType */
.chroma .kt { color: var(--keyword-type-color) }

/* NameAttribute */
.chroma .na { color: var(--name-attr-color); font-style: italic }

/* NameBuiltin */
.chroma .nb { color: var(--name-constant-color) }

/* NameClass */
.chroma .nc { color: var(--name-class-color) }

/* NameConstant */
.chroma .no { color: var(--name-constant-color) }

/* NameDecorator */
.chroma .nd { color: var(--name-constant-color) }

/* NameFunction */
.chroma .nf { color: var(--name-constant-color) }

/* NameLabel */
.chroma .nl { color: var(--name-tag-color) }

/* NameTag */
.chroma .nt { color: var(--name-tag-color) }

/* NameVariable */
.chroma .nv { color: var(--name-variable-color) }

/* NameVariableClass */
.chroma .vc { color: var(--name-variable-color) }

/* NameVariableGlobal */
.chroma .vg { color: var(--name-variable-color) }

/* NameVariableInstance */
.chroma .vi { color: var(--name-variable-color) }

/* LiteralString */
.chroma .s { color: var(--literal-string-color) }

/* LiteralStringAffix */
.chroma .sa { color: var(--literal-string-color) }

/* LiteralStringBacktick */
.chroma .sb { color: var(--literal-string-color) }

/* LiteralStringChar */
.chroma .sc { color: var(--literal-string-color) }

/* LiteralStringDelimiter */
.chroma .dl { color: var(--literal-string-color) }

/* LiteralStringDoc */
.chroma .sd { color: var(--literal-string-doc-color) }

/* LiteralStringDouble */
.chroma .s2 { color: var(--literal-string-other-color) }

/* LiteralStringEscape */
.chroma .se { color: var(--literal-string-escape-color) }

/* LiteralStringHeredoc */
.chroma .sh { color: var(--literal-string-other-color) }

/* LiteralStringInterpol */
.chroma .si { color: var(--literal-string-other-color) }

/* LiteralStringOther */
.chroma .sx { color: var(--literal-string-other-color) }

/* LiteralStringRegex */
.chroma .sr { color: var(--literal-string-other-color) }

/* LiteralStringSingle */
.chroma .s1 { color: var(--literal-string-other-color) }

/* LiteralStringSymbol */
.chroma .ss { color: var(--literal-string-other-color) }

/* LiteralNumber */
.chroma .m { color: var(--literal-number-color) }

/* LiteralNumberBin */
.chroma .mb { color: var(--literal-number-color) }

/* LiteralNumberFloat */
.chroma .mf { color: var(--literal-number-color) }

/* LiteralNumberHex */
.chroma .mh { color: var(--literal-number-color) }

/* LiteralNumberInteger */
.chroma .mi { color: var(--literal-number-color) }

/* LiteralNumberIntegerLong */
.chroma .il { color: var(--literal-number-color) }

/* LiteralNumberOct */
.chroma .mo { color: var(--literal-number-color) }

/* Operator */
.chroma .o { color: var(--operator-color) }

/* OperatorWord */
.chroma .ow { color: var(--operator-color) }

/* Comment */
.chroma .c { color: var(--comment-color); font-style: italic }

/* CommentHashbang */
.chroma .ch { color: var(--comment-color); font-style: italic }

/* CommentMultiline */
.chroma .cm { color: var(--comment-color); font-style: italic }

/* CommentSingle */
.chroma .c1 { color: var(--comment-color); font-style: italic }

/* CommentSpecial */
.chroma .cs { color: var(--comment-color); font-style: italic }

/* CommentPreproc */
.chroma .cp { color: var(--comment-color); font-style: italic }

/* CommentPreprocFile */
.chroma .cpf { color: var(--comment-color); font-style: italic }

/* GenericDeleted */
.chroma .gd { color: var(--generic-color) }

/* GenericEmph */
.chroma .ge { text-decoration: underline }

/* GenericError */
.chroma .gr { color: var(--generic-color) }

/* GenericHeading */
.chroma .gh { font-weight: bold }

/* GenericInserted */
.chroma .gi { font-weight: bold }

/* GenericOutput */
.chroma .go { color: var(--generic-color) }

/* GenericStrong */
.chroma .gs { font-style: italic }

/* GenericSubheading */
.chroma .gu { font-weight: bold }

/* GenericUnderline */
.chroma .gl { text-decoration: underline }

/* FunctionCall */
.chroma .nx { color: var(--names2-color) }
